@charset "utf-8";
/* CSS Document */
body,div,a,img,h1,h2,h3,h4,h4,h5,p,ol,ul,li,dl,dt,dd,input{ margin:0; padding:0; list-style:none; border:none;}
img{ display:block;}
body{ font-size:12px; font-family:"微软雅黑"; color:#646464; background:url(../img/bg1.jpg) repeat-x;}
a{ color:#666; text-decoration:none;}
a:hover{color:#bb0000;}

.main_wrap{width:100%;height:831px;background:url(../img/bg1.png);overflow:hidden;}
.main{width:466px;height:539px;background:rgba(255,255,255,0.4);margin:118px auto;border-radius:4px;}
.main_left{width:69px;height:539px;background:rgba(255,255,255,0.4) ;overflow:hidden;background:url(../img/left_current.png) no-repeat right top;float:left;}
.main_left .top{padding:87px 0 0 27px;font-size:16px;font-weight:bold;height:156px;background:url(../img/left_line.png) no-repeat 19px 242px;}
.main_left .bottom{padding:87px 0 0 27px;font-size:16px;font-weight:bold;height:156px;}
.main_left .current{}

.main_right{float:right;width:396px;}
.main_right h3{margin:30px 0 0 114px;width:163px;height:167px;}
.main_right .table{width:342px;height:317px;padding:25px 0 0 52px;overflow:hidden;}
.main_right .table .tel{width:267px;height:41px;background:rgba(0,0,0,0.3);border:1px solid #fff;border-radius:4px;padding:0 0 0 20px;color:#fff;font-weight:bold;}
.main_right .table .authCode{width:288px; overflow:hidden;padding:15px 0 0 0;height:41px;margin:0px;}
.main_right .table input{width:118px;height:41px;background:rgba(0,0,0,0.3);border:1px solid #fff;border-radius:4px;padding:0 0 0 20px;color:#fff;font-weight:bold;float:left;margin:0 9px 0 0;}
.main_right .table button{width:136px;height:41px;background:#3f3535;border:none;border-radius:4px;text-align:center;line-height:41px;color:#fff;float:right;}
.main_right .table .address{width:288px; overflow:hidden;padding:15px 0 0 0;height:41px;margin:0px;}
.main_right .table .address .city{width:116px;margin:0px;float:right;}
.main_right .table .password{width:267px;margin:15px 0 0 0;}
.main_right .table .register{width:289px;overflow:hidden;padding:15px 0 0 0;}
.main_right .table .register input{width:189px;height:54px;background:#ff4646;border-radius:4px;font-size:22px;font-weight:bold;text-align:center;line-height:54px;padding:0px;float:left;}
.main_right .table .register a{float:right;line-height:22px;font-size:16px;line-height:54px;color:#fff;}



.footer{width:100%;border-top:1px solid #ff4647;overflow:hidden;}
.footer p{text-align:center;padding:35px;}
